.navbar {
  background-color: #0046b5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      font-family: Inter, sans-serif;

}

.navbar__logo {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.navbar__logo:hover {
  opacity: 0.8;
}

.navbar__btn {
  background-color: white;
  color: #0046b5;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.navbar__btn:hover {
  background-color: #003a94;
  color: #fff;
}

.navbar__auth {
  display: flex;
  align-items: center;
  gap: 10px;
}
